<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vendor and Order Tracker</title>
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
  <h1 class="display-3">Welcome Pierre!</h1>
  <hr class="my-2">
    <a class="btn btn-danger btn-lg" href="/vendors" role="button">View All Vendors</a>
  </p>
</div>
</body>
</html>